<div class="jumbotron center" >
  <h1><%= @user.name %>'s pins</h1>
  <% if user_signed_in? %>
    <%= link_to 'Add a new Costume', new_pin_path, class: "btn btn-success btn-lg" %>
  <% else %>
  <p>
    <%= link_to "Einloggen", new_user_session_path, class: "btn btn-default btn-lg" %>
    <%= link_to "Anmelden", new_user_registration_path, class: "btn btn-success btn-lg" %>
  </p>
  <% end %>
</div>



<div id="pins" class="transitions-enabled">
  <% @user.pins.each do |pin| %>
    <div class="box panel panel-default">
      <%= link_to image_tag(pin.image.url(:medium)), pin %>
      <div class="panel-body">
        <p><%= pin.description %></p>
        <p><strong><%= link_to pin.user.name, pin.user if pin.user %></strong></p>
        
        <% if pin.user == current_user %>
          <div class="actions">
            <%= link_to edit_pin_path(pin) do %>
              <span class="glyphicon glyphicon-edit"></span>
              Edit
            <% end %>
            <%= link_to pin, method: :delete, data: { confirm: 'Are you sure?' } do %>
              <span class="glyphicon glyphicon-trash"></span>
              Delete
            <% end %>
          </div>
        <% end %>
        
      </div>
    </div>
  <% end %>
</div>