<!DOCTYPE html>
<html>
<head>
  <title>Kostuemtausch</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	
	<%= link_to "Home", root_path %>
	<%= link_to "Über uns", about_path %>
	<%= yield %>

</body>
</html>
